@import url('https://fonts.googleapis.com/css2?family=Carattere&family=Mate&family=Montserrat:wght@400;500;600;700&display=swap');

#root {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem */
  background-color: #FFFFFF
}

* {
  font-family: 'Carattere', cursive;
  font-family: 'Mate', serif;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.9rem;
  font-weight: 500;
  color: #4A6173;

}

.NavBarHome {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
}

.nav-container {
  display: flex;
  justify-content: flex-end;
  position: relative;
}

@media (max-width: 768px) {
  .nav-container {
    display: none;
  }

  .menu-open .nav-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    top: 40px;
    left: 0;
    background-color: rgba(255, 255, 255, 0.6);
    width: 100%;
    z-index: 1;
  }

  .hamburger-icon {
    display: block;
    background: none;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
    position: absolute;
    color: #39BB4E;
    font-weight: 700;
    top: 3px;
    right: 10px;
    z-index: 2;
  }
}

@media (min-width: 769px) {
  .hamburger-icon {
    display: none;
  }
}

.l-font {
  font-size: 1.2rem
}

.m-font {
  font-size: 0.8rem;
  line-height: 1.5rem;
}

.s-font {
  font-size: 0.6rem;
}

.green-font {
  color: #39BB4E
}

.yellow-font {
  color: #ffc801
}

.white-font {
  color: #FFFFFF
}

.bold-font {
  font-weight: 700
}

.light-font {
  font-weight: 300
}

li {
  list-style: none;
  line-height: 1.5rem;
}

.LandingPageBody {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 20px;
  align-items: center;
  justify-content: space-evenly;
}

.body-item {
  width: 450px;
}

button {
  margin: 2px
}

.default-button {
  color: #4A6173;
  background-color: transparent;
  border: none;
  border-radius: 5px;
  font-size: 0.8rem;
  height: 35px;
  width: 130px;
  font-weight: 700;
}

.default-button:hover {
  /* border: 1px solid #39BB4E; */
  transform: perspective(170px) rotateX(30deg) translate(2px);
  box-shadow: rgba(74, 97, 115, 0.3) 0px 5px 5px 0px;
}

.default-button:active {
  background-color: #ffc801;
  transition: background-color 0.1s ease-in-out;
  transform: perspective(170px) rotateX(36deg) translate(5px);
 
}

.green-button {
  color: #FFFFFF;
  background: linear-gradient(to top, #39BB4E, #2f9640); 
  border: none;
  border-radius: 5px;
  font-size: 0.8rem;
  height: 35px;
  width: 130px;
  font-weight: 700;
  transform: perspective(200px) rotateX(25deg);
  box-shadow: rgba(57, 187, 78, 0.4) 0px 5px 5px 0px;
}

.green-button:hover {
  background-color: rgba(57, 187, 78, 0.7);
  transform: perspective(170px) rotateX(30deg) translate(2px);
}

.green-button:active {
  background-color: #ffc801;
  transition: background-color 0.1s ease-in-out;
  transform: perspective(170px) rotateX(36deg) translate(5px);
}

.yellow-button {
  color: #FFFFFF;
  background: linear-gradient(to top, #ffc801, #d1a402);
  border: none;
  border-radius: 5px;
  font-size: 0.8rem;
  height: 35px;
  width: 130px;
  font-weight: 700;
  font-weight: 700;
  transform: perspective(200px) rotateX(25deg);
  box-shadow: rgba(255, 200, 1, 0.4) 0px 5px 5px 0px;
}

.yellow-button:hover {
  background-color: rgba(255, 200, 1, 0.6);
  transform: perspective(170px) rotateX(30deg) translate(2px);
}

.yellow-button:active {
  background-color: rgba(57, 187, 78, 0.7);
  transition: background-color 0.1s ease-in-out;
  transform: perspective(170px) rotateX(36deg) translate(5px);
}

.user-button {
  color: #4A6173;
  background-color: transparent;
  border: none;
  border-radius: 5px;
  font-size: 0.8rem;
  height: 35px;
  width: 130px;
  font-weight: 700;
}

.user-button:hover {
  /* border: 1px solid #39BB4E; */
  transform: perspective(170px) rotateX(30deg) translate(2px);
  box-shadow: rgba(74, 97, 115, 0.3) 0px 5px 5px 0px;
  background: linear-gradient(to top, #39BB4E, #2f9640);
  color: #FFFFFF
}

.user-button:active {
  background-color: #ffc801;
  transition: background-color 0.1s ease-in-out;
  transform: perspective(170px) rotateX(36deg) translate(5px);
 
}

.Footer {
  display: flex;
  justify-content: space-around;
  background: rgba(57, 187, 78, 0.7);
  align-items: center;
  height: 150px;
  flex-flow: wrap;
  box-shadow: rgba(74, 97, 115, 0.1) 5px 5px 5px 0px;
}

.SignInPageBody {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 20px;
  align-items: flex-start;
  justify-content: space-evenly;
}

.SignUpPageBody {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 20px;
  align-items: flex-start;
  justify-content: space-evenly;
}

.LogOutPageBody {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 20px;
  align-items: flex-start;
  justify-content: space-evenly;
}

.SignInForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgba(74, 97, 115, 0.5);
  padding: 30px;
  border-radius: 5px;
  height: 400px;
  width: 320px;
  margin-left: 30px;
  margin-right: 60px;
}

.SignUpForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgba(74, 97, 115, 0.5);
  padding: 30px;
  border-radius: 5px;
  height: 400px;
  width: 320px;
  margin-left: 30px;
  margin-right: 60px;
}

input {
  width: 300px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid rgba(74, 97, 115, 0.5);
  margin: 10px 0px;
  box-shadow: rgba(74, 97, 115, 0.1) 5px 5px 5px 0px;
}

input:hover {
  border: 1px solid rgba(255, 200, 1, 0.6)
}

input:focus {
  border: 1px solid rgba(57, 187, 78, 0.7);
  outline: none;
}

.in-body {
  border: 1px solid rgba(74, 97, 115, 0.5);
  padding: 11px;
  border-radius: 5px;
  min-height: 400px;
  margin: 20px 20px;
}

.CompleteProfileBody {
  display: flex;
  gap: 100px;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-flow: wrap;
}

.SearchBar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  flex-wrap: wrap;
  border: 1px solid rgba(74, 97, 115, 0.5);
  padding: 15px;
  border-radius: 5px;
  height: auto;
  margin: 20px 20px;
}

@media (max-width: 1040px) {
  .SearchBar {
    flex-direction: column;
  }
}

.TripList {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  margin: 5px 5px 5px 5px;

}

/* .offered-trip-card {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  margin: 5px 5px 5px 5px;

} */

.trip-card {
  display: grid;
  grid-template-columns: 85px 235px 40px;
  grid-template-rows: 200px 30px;
  border: 1px solid rgba(74, 97, 115, 0.5);
  padding: 15px;
  border-radius: 5px;
  width: 360px;
  line-height: 5px;
  margin: 5px 5px 5px 5px;
  box-shadow: rgba(74, 97, 115, 0.1) 5px 5px 5px 0px;
}

.offered-trip-card {
  display: grid;
  grid-template-columns: 90px 240px;
  grid-template-rows: 200px 40px;
  border: 1px solid rgba(74, 97, 115, 0.5);
  padding: 15px;
  border-radius: 5px;
  width: 320px;
  line-height: 5px;
  margin: 5px 5px 5px 5px;
  box-shadow: rgba(74, 97, 115, 0.1) 5px 5px 5px 0px;
}

.booking-request-trip-card {
  display: grid;
  grid-template-columns: 120px 240px;
  grid-template-rows: 260px 35px;
  border: 1px solid rgba(74, 97, 115, 0.5);
  padding: 10px;
  border-radius: 5px;
  width: 360px;
  line-height: 5px;
  margin: 5px 5px 5px 5px;
  box-shadow: rgba(74, 97, 115, 0.1) 5px 5px 5px 0px;
}

.booking-status-trip-card {
  display: grid;
  grid-template-columns: 120px 240px;
  grid-template-rows: 260px 35px;
  border: 1px solid rgba(74, 97, 115, 0.5);
  padding: 10px;
  border-radius: 5px;
  width: 360px;
  line-height: 5px;
  margin: 5px 5px 5px 5px;
  box-shadow: rgba(74, 97, 115, 0.1) 5px 5px 5px 0px;
}

.booking-request-card-section1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

.booking-request-card-section2 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2
}

.booking-request-card-section3 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  display: flex;
  flex-direction: row;
}

.trip-card-section1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

.trip-card-section2 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2
}

.trip-card-section3 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2
}

.trip-card-section4 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.DashBoardTitle {
  border: 1px solid rgba(74, 97, 115, 0.5);
  padding: 15px;
  border-radius: 5px;
  height: auto;
  margin: 20px 20px;
  background-color: rgba(74, 97, 115, 0.1);
}

.dropdown-container {
  position: relative;
}

.dropdown-menu {
  position: absolute;
}

.complete-profile-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid rgba(74, 97, 115, 0.5);
  padding: 30px;
  border-radius: 5px;
  height: 350px;
  width: 310px
}

.AddTripDialog {
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
}

.AddTripCard {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 150px 155px 155px;
  grid-template-rows: 40px 40px 40px 130px 40px 40px 40px 40px;
  /* border: 1px solid rgba(74, 97, 115, 0.5); */
  width: 500px;
  height: 420px;
  border-radius: 5px;
  padding: 0px;
  border-radius: 5px;
}

.title-top {
  align-items: center;
  text-align: center;
  background-color: #39BB4E;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}

.departure-input {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  justify-self: end;
}

.destination-input {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
  justify-self: end;
}

.service-box {
  display: flex;
  flex-direction: column;
  align-self: start;
  margin-left: 3px
}

.check-box {
  position: absolute;
  opacity: 0;
}

/* To set the appearance for the checkbox. */
.check-box+label::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #FFFFFF;
  border: 1px solid rgba(74, 97, 115, 0.5);
  margin: 5px 5px 5px 0px;
  vertical-align: middle;
  border-radius: 5px
}

/* to set style the appearances of the checkbox when it is checked*/

.check-box:checked+label::before {
  content: "\2713";
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  color: #FFFFFF;
  background-color: #39BB4E;
  border: 1px solid #39BB4E;
}

.departure-time-input {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 5;
  grid-row-end: 6;
  justify-self: end;
}

.price-input {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 6;
  grid-row-end: 7;
  justify-self: end;
}

.available-seats-input {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 7;
  grid-row-end: 8;
  justify-self: end;
}

.trip-add-button {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 8;
  grid-row-end: 9;
  justify-self: end;
}

.dialog-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3
}

.dialog-content {
  background: #fff;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  max-width: 500px;
  width: 100%;
}

.dialog-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0px;
}

.error-message {
  background-color: #ffc801;
}

.confirm-message {
  text-align: center;
  vertical-align: center;

}

.fixed-size-table {
  width: 100%;
}

.action-column {
  text-align: center;
  width: 280px;
}

.action-column-small {
  text-align: center;
  width: 120px;
}

tr>th {
  font-weight: 700;
  vertical-align: top;
}

tr>td {
  text-align: center;
}

.service-day {
  width: 220px;
}

.unit-price {
  width: 70px;
}

.seats {
  width: 100px
}

.departure-time {
  width: 35px
}

.trip {
  width: 50px
}

.fixed-size-table th,
.fixed-size-table td {
  margin: 0px;
  padding: 8px;
  border-bottom: 1px solid rgba(74, 97, 115, 0.5);
}

/* @media (max-width: 900px) {
  .booking-status-table {
    max-width: 100%;
    overflow-x: auto;
    display: block;
  }
} */

.offered-trip-mobile-list {
  display: none
}

.booking-request-mobile-list {
  display: none
}

.booking-status-mobile-list {
  display: none
}

@media (max-width: 900px) {
  .booking-status-desktop-table {
    display: none;
  }

  .booking-status-mobile-list {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
  }
}

@media (max-width: 720px) {
  .offered-trip-desktop-table {
    display: none;
  }

  .offered-trip-mobile-list {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
  }
}

@media (max-width: 900px) {
  .desktop-table-booking-request {
    display: none;
  }

  .booking-request-mobile-list {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
  }
}

.no-trip {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 20px;
  align-items: flex-start;
  justify-content: space-evenly;
}

.no-booking-request {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 20px;
  align-items: flex-start;
  justify-content: space-evenly;
}

.no-booking {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 20px;
  align-items: flex-start;
  justify-content: space-evenly;
}

